@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap";
*{
	margin: 0 auto;
	padding: 0 auto;
	-webkit-font-smoothing: antialiased;
}
body{
	user-select: none;
	background: #fff;	
	height: 100vh;
	overflow: auto;
}
$primary: #306CFF;
.header{
	header{
		padding: 20px;
		.container{
			max-width: 1400px;
			.bar{
				display: none;
			}
		.title-brand{
			font-size: 18px;
			color: #000;
		}
		.with-icon{
			img{
				max-width: 140px;
				width: 100%;
			}
		}
		.menu-head{
			text-align: center;
			margin-top: -2.4rem;
			a{
				outline: none;
				text-decoration: none;
				transition: 0.4s ease;
				color: grey;
				padding: 5px 30px;
				font-weight: 500;
				font-family: 'Poppins', sans-serif;
				&:hover{
					color: $primary;
				}
			}
		}
		.login-wrap-button{
			float: right;
			margin-top: -2rem;

			button{
				cursor: pointer;
				outline: none;
				margin: 0 14px;
				padding: 14px 40px;
				background: transparent;
				border: 1px solid $primary;
				font-size: 15px;
				border-radius: 50px;
				color: $primary;
				font-family: 'Poppins', sans-serif;
				&:nth-child(1){
					border: none;
				}
				&:nth-child(2){
					transition: 0.4s ease;
					&:hover{
						background: $primary;
						color: #fff;
					}
				}
			}
		}
	}
}

}
.copyright{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.home{
	.wrapper-home{
		padding: 20px;
		.container{
			margin-top: 4rem;
			text-align: center;
			h2{
				font-family: 'Poppins', sans-serif;
				font-size: 50px;
				color: #000;
			}
			img{
				max-width: 1200px;
				width: 100%;
				margin-top: 4rem;
			}
			p{
				font-family: 'Poppins', sans-serif;
				color: grey;
			}
		}
		
	}
	.box-v1{
		padding: 20px;
		box-sizing: border-box;
		margin-top: 5rem;
		background: linear-gradient(to bottom, #0D121F,#1B2233);
		display: flex;
		height: 400px;
		.feature-games{
			margin-top: -8rem;
			img{
				max-width: 800px;
				width: 100%;
			}
	    }
		.game-title{
			float: right;
			text-align: center;
			color: #fff;
			img{
			  max-width: 400px;
			  width: 100%;
			}
			h2{
				font-family: 'Poppins', sans-serif;
				color: #fff;
				font-weight: 500;
			}
			button{
				padding: 15px 40px;
				background: #fff;
				color: #000;
				border-radius: 50px;
				font-family: 'Poppins', sans-serif;
				font-weight: bold;
				border: none;
			}
		}
	}
	.box-v2{
		text-align: center;
		margin-top: 8rem;
		background-image: url('../img/ps-abstrak.svg');
		background-size: cover;
		// background-position: 50%;
		h2{
			font-family: 'Poppins', sans-serif;
			font-size: 40px;
		}
		p{
			font-family: 'Poppins', sans-serif;
			color: grey;
			margin-top: 30px;
		}
		img{
			max-width: 700px;
			width: 100%;
		}
	}
	.box-v3{
		background: linear-gradient(to right, #000,transparent), url('../img/kena-bridge-of-spirits-hero-01-ps5-ps4-en-26aug29.jpg');
		background-size: cover;
		padding: 20px;
		color: #f2f2f2;


		
		.container{
			max-width: 1440px;
		.game-overview{
			color: $primary;
			margin-top: 10rem;
		}
		h2{
			font-family: 'Poppins', sans-serif;
			font-size: 40px;
			
		}
		p{
			font-family: 'Poppins', sans-serif;
			max-width: 700px;
			text-align: left;
			margin-left: 0;
		}
		video{
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
			box-sizing: border-box;
}
		button{
			cursor: pointer;
				padding: 15px 40px;
				background: transparent;
				color: #f2f2f2;
				border: 1px solid #f2f2f2;
				border-radius: 50px;
				font-family: 'Poppins', sans-serif;
				font-weight: bold;
			 &:hover{
			 	background: #f2f2f2;
			 	color: #333;
			 }
			}

	}
}
 .box-v4{
 	// background: linear-gradient(to bottom, #1A1D24, #090B11);
	 background-image: url('../img/Ppp2.png');
	 background-size: cover	;
 	padding: 20px;
 	.wrapper-box-v4{
 		text-align: center;
 		.ps-plus-logo{
 			margin-top: 7rem;
 			img{
 				max-width: 400px;
 				width: 100%;
 			}
 			p{
 				color: #f2f2f2;
 				font-family: 'Poppins', sans-serif;
 				font-size: 14px;
 			}
 		}		 
 	}
	.wrapper-card{
		.container{
			max-width: 1200px;
		.flex-card{
			margin-top: 5rem;
			display: flex;
			gap: 20px;
		.card{
			padding: 20px;
			text-align: center;
			transition: 0.4s ease;
			background: #0E1016;
			-webkit-transition: 0.4s ease;
			-moz-transition: 0.4s ease;
			-ms-transition: 0.4s ease;
			-o-transition: 0.4s ease;
			img{
				max-width: 500px;
				width: 100%;
			}
			p{
				color: #f2f2f2;
				margin-top: 2rem;
				font-size: 40px;
				font-family: 'Poppins', sans-serif;
			}
			button{
				cursor: pointer;
					padding: 15px 40px;
					width: 100%;
					background: #F4D647;
					color: #98722F;
					border: none;
					border-radius: 50px;
					font-family: 'Poppins', sans-serif;
					font-weight: bold;
				 &:hover{
					 background: #f2f2f2;
					 color: #333;
				 }
				}
				&:active{
					transform: scale(0.9);
					-webkit-transform: scale(0.9);
					-moz-transform: scale(0.9);
					-ms-transform: scale(0.9);
					-o-transform: scale(0.9);
}
		}
	  }
     	}
	}
 }
 
}

.box-v5{
	text-align: center;
	padding: 20px;
	.container{
		max-width: 1200px;
	h1{
		margin-top: 5rem;
		font-family: 'Poppins', sans-serif;
		font-size: 40px;
	}
	p{
		font-family: 'Poppins', sans-serif;
	}
	.wrapper-card-v5{
		.flex-card-v2{
			margin-top: 4rem;
			display: flex;
			gap: 20px;
			.card{
				padding: 20px;
				width: 100%;
				height: 400px;
				transition: 0.4s ease;
				background-size: cover;
				background-position:center;
				border-radius: 8px;
				cursor: pointer;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				-ms-border-radius: 8px;
				-o-border-radius: 8px;
				-webkit-transition: 0.4s ease;
				-moz-transition: 0.4s ease;
				-ms-transition: 0.4s ease;
				-o-transition: 0.4s ease;
				&:nth-child(1){
					background-image: url('../img/playstation-store-october-saving-spotlight-01-en-hk-01oct21.jpg');
				}
				&:nth-child(2){
					background-image: url('../img/ps-store-all-deals-image-block-01-07dec$en.jpg');
				}
				&:nth-child(3){
					background-image: url('../img/playstation-store-free-to-play-spotlight-01-en-20nov20.png');
				}
				&:active{
					transform: scale(0.9);
					-webkit-transform: scale(0.9);
					-moz-transform: scale(0.9);
					-ms-transform: scale(0.9);
					-o-transform: scale(0.9);
}
}
		}
	}
}
}

.footer{
	background: #00439C;
	footer{
		height: 400px;
		padding: 20px;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		.container{
			max-width: 1200px;
		.flex-footer{
			display: flex;
		img{
			max-width: 100px;
			margin-top: 2rem;
		}
		.sie{
			max-width: 150px;
		}
		p{
			font-size: 15px;
		}
		a{
			color: #fff;
		}
	   }
	 } 
	}
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
button{
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	&:active{
		transform: translateY(12px);
		-webkit-transform: translateY(12px);
		-moz-transform: translateY(12px);
		-ms-transform: translateY(12px);
		-o-transform: translateY(12px);
}
.text-button{
	margin: 0 14px;
}
}


@media only screen and (max-width: 780px){
	.header{
		position: fixed;
		width: 100%;
		background-color: #fff;
		z-index: 999;
		header{
			border-bottom: 1px solid #dcdcdc;
			padding: 10px;
			.container{
				max-width: 1400px;
				.bar{
					display: block;
				}
			.title-brand{
				font-size: 18px;
				color: #000;
			}
			.with-icon{
				img{
					max-width: 140px;
					width: 100%;
				}
			}
			.menu-head{
				display: none;
				text-align: center;
				margin-top: -2.4rem;
				a{
					outline: none;
					text-decoration: none;
					transition: 0.4s ease;
					color: grey;
					padding: 5px 30px;
					font-weight: 500;
					font-family: 'Poppins', sans-serif;
					&:hover{
						color: $primary;
					}
				}
			}
			.login-wrap-button{
				float: right;
				display: none;
				margin-top: -2rem;
	
				button{
					cursor: pointer;
					outline: none;
					margin: 0 14px;
					padding: 14px 40px;
					background: transparent;
					border: 1px solid $primary;
					font-size: 15px;
					border-radius: 50px;
					color: $primary;
					font-family: 'Poppins', sans-serif;
					&:nth-child(1){
						border: none;
					}
					&:nth-child(2){
						transition: 0.4s ease;
						&:hover{
							background: $primary;
							color: #fff;
						}
					}
				}
			}
		}
	}
	
	}
	.bar{
		float: right;
		text-decoration: none;
		font-size: 30px;
		color: #333;
		margin-right: 30px;
		margin-top: -2.8rem;
	}
	.home{
		.wrapper-home{
			padding: 20px;
			.container{
				margin-top: 8rem;
				text-align: center;
				h2{
					font-family: 'Poppins', sans-serif;
					font-size: 50px;
					color: #000;
				}
				img{
					max-width: 1200px;
					width: 100%;
					margin-top: 4rem;
				}
				p{
					font-family: 'Poppins', sans-serif;
					color: grey;
				}
			}
			
		}
		.box-v1{
			height: auto;
			padding: 20px;
			display: block;
			.game-title{
				float: none;
			}
		}
		.box-v3{
			background: linear-gradient(to top, #000,transparent), url('../img/kena-bridge-of-spirits-hero-01-ps5-ps4-en-26aug29.jpg');
			background-position: 60%, 60%;
			background-size: cover;
			.game-overview{
				margin-top: 20rem !important;
			}
			video{
				width: 100%;
			}
		}
		.box-v4{
			.wrapper-card{
				.container{
				.flex-card{
					display: block;
					.card{
						max-width: 400px;
						margin-top: 5rem;
						border-radius: 8px;
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						-ms-border-radius: 8px;
						-o-border-radius: 8px;
}
				}
			}
			}
		}
		.box-v5{
			.container{
			.wrapper-card-v5{
			.flex-card-v2{
				display: block;
				.card{
					box-sizing: border-box;
					width: 100%;
					margin-top: 4rem;
				}
			}
	    	}
	  	}
	}
}
.footer{
	footer{
		height: auto;
		.container{
		.flex-footer{
			display: block;
			.item-foot{
				margin-top: 3rem;
			}
		}
	}
}
}
}